<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <!--For pages to add extra css-->
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>

<body>
{% include "sidebar/sidebar.html" %}
<!--to be inherited-->
{% block main %}
{% endblock %}

</body>
</html>