{% extends 'layout.html' %}
{% block title %}Virtuoso{% endblock %}

    {% block css %}<link rel="stylesheet" href="../../static/css/index.css"/>{% endblock %}

{% block main %}
<div class="main-container">
    <h1 class="home-slogan">WHAI WHAKANGAHAU, HAVE FUN!</h1>

    <div class="home-item-container">
        <div class="home-item">
            <p>Welcome to Virtuoso. We archive all sorts of games, be they popular or unpopular.</p>
        </div>
        <div class="home-item">
            <p>Come explore our vast game library.</p>
        </div>
        <div class="home-item">
            <p>You can sort by genres, publishers, or release date.</p>
        </div>
    </div>
</div>

<footer>
    <div class="copyright">&copy; yfu809 | zqu625 | wzhe927</div>
</footer>
{% endblock %}