{% extends 'authentication/authentication.html' %}
{% block title %} Login {% endblock %}

{% block form_title %} Login: {% endblock %}
{% block form %}
    <form class="auth-form" method="POST" action="/login">
        {{ form.csrf_token }}

        {% if login_fail %}
            <div class="auth-form-item">
                {{ form.username.label(class="auth-form-label") }} {{ form.username(class="auth-form-input auth-form-input-fail") }}
            </div>
            <div class="auth-form-item">
                {{ form.password.label(class="auth-form-label") }} {{ form.password(class="auth-form-input auth-form-input-fail") }}
                <p class="auth-form-error">Incorrect username or password.</p>
            </div>

        {% else %}
        <div class="auth-form-item">
                {{ form.username.label(class="auth-form-label") }} {{ form.username(class="auth-form-input") }}
            </div>
            <div class="auth-form-item">
                {{ form.password.label(class="auth-form-label") }} {{ form.password(class="auth-form-input") }}
            </div>
        {% endif %}

        {{ form.submit(class="auth-form-button") }}
        <div id="auth-form-item">No account? <a href="/register" class="auth-form-link">Sign up</a></div>
    </form>
{% endblock %}
